name: Discord Embed Push Notification

on:
  push:

jobs:
  notify-discord:
    runs-on: ubuntu-latest

    steps:
      - name: Send Discord embed message
        env:
          WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK }}
          REPO: ${{ github.repository }}
          SHA: ${{ github.sha }}
          BRANCH: ${{ github.ref }}
          AUTHOR: ${{ github.actor }}
          MESSAGE: ${{ github.event.head_commit.message }}
          TIMESTAMP: ${{ github.event.head_commit.timestamp }}
        run: |
          set DATA={
          set DATA=%DATA%\"username\":\"GitHub Bot\",
          set DATA=%DATA%\"avatar_url\":\"https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png\",
          set DATA=%DATA%\"embeds\":[
          set DATA=%DATA%  {
          set DATA=%DATA%    \"title\":\"New Push to %REPO%\",
          set DATA=%DATA%    \"url\":\"https://github.com/%REPO%/commit/%SHA%\",
          set DATA=%DATA%    \"color\":5814783,
          set DATA=%DATA%    \"author\":{
          set DATA=%DATA%      \"name\":\"%AUTHOR%\",
          set DATA=%DATA%      \"url\":\"https://github.com/%AUTHOR%\"
          set DATA=%DATA%    },
          set DATA=%DATA%    \"fields\":[
          set DATA=%DATA%      {\"name\":\"Commit Message\",\"value\":\"%MESSAGE%\"},
          set DATA=%DATA%      {\"name\":\"Branch\",\"value\":\"%BRANCH%\"}
          set DATA=%DATA%    ],
          set DATA=%DATA%    \"footer\":{
          set DATA=%DATA%      \"text\":\"GitHub Actions Notification\",
          set DATA=%DATA%      \"icon_url\":\"https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png\"
          set DATA=%DATA%    },
          set DATA=%DATA%    \"timestamp\":\"%TIMESTAMP%\"
          set DATA=%DATA%  }
          set DATA=%DATA%]

          curl -H "Content-Type: application/json" -X POST -d "%DATA%" %WEBHOOK_URL%
